<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PwdMaker>
    <Number value="6" CompleteInitialize="true" SetFocus="true"/>
    <Length value="8" CompleteInitialize="true" SetFocus="false"/>
    <UseNumric value="true" CompleteInitialize="true" SetFocus="false"/>
    <UseUppercase value="true" CompleteInitialize="true" SetFocus="false"/>
    <UseLowercase value="true" CompleteInitialize="true" SetFocus="false"/>
    <UseSymbol value="false" CompleteInitialize="true" SetFocus="false"/>
    <Clipboard value="true" CompleteInitialize="true" SetFocus="false"/>
    <TextFile value="false" CompleteInitialize="true" SetFocus="false"/>
  </PwdMaker>
</configuration>
